@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  background-color: var(--beige);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
}
html {
  scroll-behavior: smooth;
}

:root {
  --beige: #fdfdfb;
  --green-dark: #6b705c;
  --green-light: #f6f4d2;
  --green: #84a59d;
  --ct-green: #74957b;
  --text-brown:rgb(170, 105, 76);
  --bc-brown:rgb(197, 119, 55);
  --brown: #ddbea9;
  --brown-light: #ffddd2;
  --text-gray: rgb(97, 94, 94);
}
.section-container {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: var(--beige);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 2px 9px 1px rgba(168, 177, 113, 0.068);
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 5%;
}
.logo-navbar img {
  width: 9vw;
}

.navbar {
  display: flex;
  justify-content: space-between;
}
#menu-label {
  font-size: 40px;
  cursor: pointer;
  color: var(--green);
  display: none;
}
#cart-label {
  font-size: 35px;
  cursor: pointer;
  color: var(--green);
}
.navbar-ul {
  display: flex;
  align-items: center;
}
.navbar-ul li {
  text-transform: uppercase;
  margin: 0 1rem;
  position: relative;
}
.navbar-ul li a {
  color: var(--green);
}
.navbar-ul li::before {
  content: "";
  height: 6px;
  width: 0%;
  /* background-color: rgb(155 190 182); */
  background: rgb(186,223,215);
  background: linear-gradient(90deg, rgba(186,223,215,1) 0%, rgba(224,244,198,1) 100%);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s ease-in;
}
.navbar-ul li:hover::before {
  width: 100%;
}


/* carrito */

.cart {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 50px 30px;
  /* background: #f3eedf; */
  background: rgb(235,244,237);
  background: linear-gradient(173deg, rgba(235,244,237,1) 0%, rgba(242,246,243,1) 50%, rgba(227,237,229,1) 100%);

  display: flex;
  flex-direction: column;
  gap: 30px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  z-index: 2;
  min-width: 400px;
  animation: bounceInRight;
  animation-duration: 1.5s;
  transition: 0.2s ease;
  display: none;
}
.cart h2{
  color: var(--text-brown);
  letter-spacing: 1px;
}

.open-cart {
  display: flex;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart::-webkit-scrollbar {
  display: none;
}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #fffffffa;
  height: 110px;
  border: 1px solid var(--electric);
  border-radius: 10px;
  position: relative;
}

.cart-product img {
  width: 40%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.product-info {
  padding-left: 15px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.product-title {
  color: var(--text-brown);
  font-size: 22px;
  letter-spacing: 1px;
}

.product-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 93px;
  background-color: #fffffffa;
  text-align: center;
  border-radius: 3px;
  padding: 0 10px;
}
.product-price{
    color: gray;
    padding-top: 10px;
}
.quantity-handler {
  color: gray;
  font-size: 1.7rem;
}

.product-quantity {
  color: #d47552;
  padding: 0 10px;
  border-left: 1px solid rgba(205, 200, 200, 0.333);
  border-right: 1px solid rgba(205, 200, 200, 0.333);
}
.quantity-handler{
    cursor: pointer;
}
.cart-cont-total {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 20px 0;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.cart-total p {
  font-weight: 600;
  letter-spacing: 1px;
  color: gray;
}
.total {
  color: rgb(197, 119, 55);
  font-weight: 600;
  letter-spacing: 2px;
}

.line-span {
  background-color: #2836189a;
  width: 100%;
  height: 1px;
}

.btn-buy,
.btn-delete {
  border-radius: 20px;
  font-weight: 600;
  padding: 10px 0;
  cursor: pointer;
}
.btn-buy,
.btn-add {
  background-color: #74957b;
  color: white;
  font-size: 1rem;
  letter-spacing: 2px;
  border: none;
}
.btn-delete {
  background-color: rgba(243, 240, 240, 0.249);
  border: 1px solid #74957b;
  border-radius: 20px;
  color: var(--green-dark);
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-buy:hover,
.btn-delete:hover {
  box-shadow: 0 2px 9px 1px gray;
}

.off-btn {
  background-color: rgba(128, 128, 128, 0.226);
  color: var(--green-light);
  border: none;
}
.off-btn:hover {
  background-color: rgba(116, 114, 114, 0.24);
  cursor: not-allowed;
  box-shadow: none;
}

.overlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(6px);
  filter:blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: rgba(200, 255, 138, 0.123);
  z-index: 1;
  display: none;
}

.toggle-overlay {
  display: block;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

main {
  margin-top: 100px;
}
.slider {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  box-shadow: 0 0 9px 9px rgba(160, 158, 158, 0.54);
  border-radius: 5px;
}
.slides {
  width: 100%;
  transition: all 0.5s;
  display: flex;
} 
.hero {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.container-hero {
  width: 800px;
  text-align: center;
  padding: 0 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: space-evenly;
}
.descuento{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.descuento p{
    color: green;
    font-size: 100px;
    font-weight: 800;
}
.span-dni{
    font-size: 20px;
    color: green;
}
.container-hero img{
     width: 200px;
}
.tope-dni{
    color: gray;
}
.img-go,
.img-hero,
.img-visa {
  width: 1200px;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-hero {
  background-image: url(./img/f.elconfidencial.com_original_8f7_dda_204_8f7dda20446b4b10f7be584c206ca961.jpg);
  min-width: 250px;
  background-position: center;
  border-radius: 5px;
}


.container-go {
  background-color: rgb(242, 78, 242);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  letter-spacing: 1px;
  padding: 20px;
  width: 28%;
  gap: 30px;
  position: absolute;
  left: 70px;
  text-align: center;
  border-radius: 10px;
}
.img-go {
  background-image: url(./img/macrame-kit-642e88168357f.jpg);
  background-position: left;
}
.container-go img {
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.container-base {
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.096);
}
.title-hero{
    color: rgb(53, 80, 53);
    font-size: 80px;
}
.container-base p{
    font-size: 40px;
    color: rgb(244, 247, 243);
    font-weight: 700;
    letter-spacing: 2px;
}
.btn-hero{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--brown);
    color: var(--text-brown);
    background-color: var(--beige);
    letter-spacing: 1px;
    font-size: 1.1em;
    cursor: pointer;
}
.btn-hero:hover{
    box-shadow: 0 2px 9px 0 var(--brown-light);
    background-color: var(--ct-green);
    border: none;
    color: whitesmoke;
}
.img-visa {
  background-image: url(./img/acessorios-colchas-e-almofadas-com-macrame-1642775491869_v2_1170x540.jpg);
  position: center;
}
.controls {
  position: absolute;
  left: 0;
  right: 0;
  /*  bottom: 0; */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.controls button {
  font-size: 60px;
  border: none;
  background: rgba(187, 183, 183, 0.493);
  color: rgb(51, 50, 50);
  cursor: pointer;
}
.next {
  border-radius: 5px 0 0 5px;
}
.prev {
  border-radius: 0 5px 5px 0;
}
.controls button:hover {
  color: rgb(24, 24, 23);
  background: rgba(97, 99, 91, 0.493);
}
/* tarjetas */
.target-pay {
  width: 80%;
  padding: 1rem;
  margin: 30px auto;
  border: 3px solid var(--green-light);
  border-radius: 10px;
  box-shadow: 0 2px 9px 0 var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.target-content {
  color: var(--green-dark);
  align-items: center;
  display: flex;
  gap: 8px;
  font-size: 1.1em;
  font-weight: 600;
}
.target-content i {
  font-size: 1.6rem;
}

.hidden {
  visibility: hidden;
}
.section-card {
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.section-card h2 {
  font-size: 3rem;
  color: var(--green-dark);
  padding: 30px;
}
.categories {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.category {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--beige);
  border: 1px solid var(--green);
  color: var(--text-gray);
  cursor: pointer;
  transition: 1s ease;
}
.active {
  /* font-weight: 700; */
  letter-spacing: 2px;
  /* color: white; */
  background-color: rgba(190, 235, 174, 0.759);
  border: 1px solid rgb(155, 176, 117);
  box-shadow: 0px 0px 9px 0 rgb(124, 159, 170);
}
.card-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3rem;
  margin: auto;
}

.card {
  width: 250px;
  height: 340px;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 var(--brown-light);
  border: 1px solid var(--brown-light);
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  letter-spacing: 1px;
}
.card:hover {
  background-color: rgba(226, 212, 177, 0.349);
  box-shadow: 0 2px 9px 0 var(--green);
  border: 2px solid var(--green);
}
.card img {
  width: 85%;
  height: 200px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px 0 rgba(212, 211, 211, 0.37);
}
.card p{
    color: var(--text-brown);
}
.card span{
    color: gray;
}
.btn-add {
  padding: 5px 10px;
  border-radius: 15px;
}
.btn-add:hover{
    cursor: pointer;
    background-color: var(--green);
    font-size: .9rem;
    padding: 5px 12px;
    transition: .2s ease;
    box-shadow: 0 2px 9px 0 var(--green-dark);
}
.btn-mas {
  color: whitesmoke;
  background-color: var(--bc-brown);
  border: none;
  padding: 10px 15px;
  letter-spacing: 1px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  cursor: pointer;
}
.btn-mas:hover {
  box-shadow: 0 2px 9px 0 var(--green-dark);
  transition: 1s ease;
  background-color: var(--text-brown);
}
.add-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #283618;
  background: var(--beige);
  border: 1px solid var(--ct-green);
  border-radius: 10px;
  width: 40%;
  transition: all 0.5s ease-out;
  position: fixed;
  top: 100px;
  left: 30%;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 0 20px 2px var(--green-dark);
  display: none;
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.active-modal {
  display: block;
  transition: all 0.5s ease-out;
}

/* fotter */

.contact-us {
  background-color: var(--ct-green);
  color: white;
}
.contact-us h2 {
  font-size: 2rem;
  padding: 30px;
}
.contact-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: 10px ;
  width: 90%;
  margin: auto;
}
.contact-content i {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: #fdfdfb;
}
.contact-redes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.contact-redes i {
  font-size: 2rem;
  border-radius: 50%;
  background-color: var(--green-light);
  color: var(--green-dark);
  padding: 0.4em;
  text-align: center;
}
.contact-redes i:hover {
  color: var(--brown);
  background-color: var(--beige);
  box-shadow: 0 0 20px 2px var(--green-light);
}
.footer-container {
  background-color: var(--green-dark);
  color: var(--beige);
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: 1rem;
}
.footer-list {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.footer-list li a {
  color: var(--brown);
}

/* formularios */

.body-form {
  background-image: url(img/fondo-form.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: auto;
}

.form-container {
  margin: auto;
  position: absolute;
  top: 25px;
  left: 30%;
  width: 40%;
  height: auto;
  max-width: 70%;
  padding: 20px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  border-radius: 12px;
}
.form-sign{
  top: 100px;
}
.form-container::before {
  content: "";
  width: 150%;
  height: 150%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form-container-second {
  position: relative;
}
.form-container h3 {
  text-align: center;
  font-size: 2em;
  color: var(--green-dark);
}
.form-sub-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  color: var(--green-dark);
}
.form-sub-content input {
  padding: 5px;
  border: 1px solid rgba(232, 221, 221, 0.5);
  background-color: #f6f6eccf;
  border-radius: 4px;
  color: var(--green-dark);
}
.form-sign-sub {
  margin: 10px 0;
  gap: 10px;
}
.form-sign-sub input {
  height: 50px;
  border-radius: 10px;
  color: var(--green-dark);
  background-color: #dcdab0cf;
}
.form-sign-sub input:active{
  border: 1px solid var(--green);
}
.button {
  width: 80%;
  margin-left: 10%;
  margin-top: 1rem;
  padding: 10px;
  background-color: var(--green);
  border: 1px solid var(--ct-green);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--text-brown);
  box-shadow: 0 0 20px 2px var(--green-light);
}
.span {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.span a {
  color:white;
  text-decoration: underline;
  letter-spacing: 1px;
}
.span a:hover {
  color: #74552c;
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
